In [9]:
import os
from pathlib import Path

import pandas as pd
import numpy as np

In [11]:
# Lấy đường dẫn thư mục hiện tại
current_dir = os.getcwd()

# Tạo đường dẫn đầy đủ đến file CSV
file_path = os.path.join(current_dir, "..", "data", "Fraud Detection Dataset.csv")

df = pd.read_csv(file_path)
df.head()

,Transaction_ID,User_ID,Transaction_Amount,Transaction_Type,Time_of_Transaction,Device_Used,Location,Previous_Fraudulent_Transactions,Account_Age,Number_of_Transactions_Last_24H,Payment_Method,Fraudulent
0,T1,4174,1292.76,ATM Withdrawal,16.0,Tablet,San Francisco,0,119,13,Debit Card,0
1,T2,4507,1554.58,ATM Withdrawal,13.0,Mobile,New York,4,79,3,Credit Card,0
2,T3,1860,2395.02,ATM Withdrawal,NaN,Mobile,NaN,3,115,9,NaN,0
3,T4,2294,100.10,Bill Payment,15.0,Desktop,Chicago,4,3,4,UPI,0
4,T5,2130,1490.50,POS Payment,19.0,Mobile,San Francisco,2,57,7,Credit Card,0

# EDA - Explore Data Anaalyst

In [13]:
print(f'Data shape: {df.shape} \n')
print(f'Data Types: {df.dtypes}\n')
for col in df.columns:
    print(f'Unique Data of The {col}:', df[col].unique())

Data shape: (51000, 12)

Data Types: Transaction_ID                       object
User_ID                               int64
Transaction_Amount                  float64
Transaction_Type                     object
Time_of_Transaction                 float64
Device_Used                          object
Location                             object
Previous_Fraudulent_Transactions      int64
Account_Age                           int64
Number_of_Transactions_Last_24H       int64
Payment_Method                       object
Fraudulent                            int64
dtype: object

Unique Data of The Transaction_ID: ['T1' 'T2' 'T3' ... 'T49998' 'T49999' 'T50000']
Unique Data of The User_ID: [4174 4507 1860 ... 4616 2261 4210]
Unique Data of The Transaction_Amount: [1292.76 1554.58 2395.02 ...  647.11 2446.65 2867.43]
Unique Data of The Transaction_Type: ['ATM Withdrawal' 'Bill Payment' 'POS Payment' 'Bank Transfer'
 'Online Purchase']
Unique Data of The Time_of_Transaction: [16. 13. nan 15. 19.  2.  3. 20.  0. 12. 21. 14.  7.  4. 17. 10.  5.  8.
 11. 18.  1. 22.  9.  6. 23.]
Unique Data of The Device_Used: ['Tablet' 'Mobile' 'Desktop' nan 'Unknown Device']
Unique Data of The Location: ['San Francisco' 'New York' nan 'Chicago' 'Boston' 'Houston' 'Miami'
 'Los Angeles' 'Seattle']
Unique Data of The Previous_Fraudulent_Transactions: [0 4 3 2 1]
Unique Data of The Account_Age: [119  79 115   3  57  96   6  13 110  66   4  68  25 113  52  65  21  61
  22  43   7 103   8  71  63  99  81  82   2  85  14  31 108 116  15  51
  46  94  93  70  10   1  58 112  41  27  19  35  18 106  29 109  16  74
  28 107  78  44  77  40  20  11  50  45 114  37  48  30  89   9 104  67
 100 117  47  38  86  34  80  90   5  91  42  83  49 102  54  12  72  69
  23  36  97  76  95  33 101  59  39 105  98  56 118  62  84  75  92 111
  32  26  64  60  24  87  73  88  55  17  53]
Unique Data of The Number_of_Transactions_Last_24H: [13  3  9  4  7 14 10 12  6  1  8  2 11  5]
Unique Data of The Payment_Method: ['Debit Card' 'Credit Card' nan 'UPI' 'Net Banking' 'Invalid Method']
Unique Data of The Fraudulent: [0 1]